@import "../../global.scss";

.portfolioList{
    font-size: 15px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer ;
    overflow: hidden;

    @include mobile{
     margin-left: 20px;
    }


    &.active{
      color: white;
      background-color: $maincolor;
    }
}