.App {
    height: 100vh;

    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 

    a { color: white; } 



    .sections {
        width: 100%;
        height: calc(100vh - 70px);
        background-color: white;
        position: relative;
        top: 70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: 5px; //firefox
        &::-webkit-scrollbar{
            width: 10px;
        };
        &::-webkit-scrollbar-track {
            background: #f1f1f1; 
            border-radius: 10px;

          }
        &::-webkit-scrollbar-thumb {
            background: #888; 
            border-radius: 5px;

          }
        &::-webkit-scrollbar-thumb:hover {
            background: #555; 
          }

        > *{
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
            
        }
    }
}